<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>👀Interesting Grades There</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/css/tables.css">
<link rel="stylesheet" href="/css/logout.css">
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
</head>
<body>
<!-- partial:index.partial.html -->

<div id="loading">
  <link rel="stylesheet" href="/css/loading.css">
  <div id="load">
    <div>G</div>
    <div>N</div>
    <div>I</div>
    <div>D</div>
    <div>A</div>
    <div>O</div>
    <div>L</div>
  </div>
</div>


<div id="response"></div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> <script  src="{{url_for('static', filename='script.js')}}"></script>


  <script>
  function getcookie(name = '') {
    let cookies = document.cookie;
    let cookiestore = {};
    
    cookies = cookies.split(";");
    
    if (cookies[0] == "" && cookies[0][0] == undefined) {
        return undefined;
    }
    
    cookies.forEach(function(cookie) {
        cookie = cookie.split(/=(.+)/);
        if (cookie[0].substr(0, 1) == ' ') {
            cookie[0] = cookie[0].substr(1);
        }
        cookiestore[cookie[0]] = cookie[1];
    });
    
    return (name !== '' ? cookiestore[name] : cookiestore);
    }


    function loading(){

      $("#loading").show();
      $.ajax({
        url: "/_get_data",
        type: "POST",
        success: function(resp){
          if (resp.data == "error"){
            window.location.replace("/");
          }
          $("#loading").hide();
          $('div#response').append(resp.data)
              if (getcookie('remember') == "False"){
                document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                document.cookie = "password=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                document.cookie = "link=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                document.cookie = "remember=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                }

        }
      })


    }
    
  window.onload = loading;
  </script>



</body>
</html>